In [1]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_parquet("../data/raw/puc_vendas.parquet")
print("Total number of transactions: ", df.shape[0])
df.head()

Total number of transactions:  9271036

,COD_CUPOM,COD_CLIENTE,CLIENTE_FISICO_JURIDICO,SEXO_CLIENTE,DTNASCIMENTO_CLIENTE,COD_SKU,SKU,CATEGORIA_SKU,SUBCATEGORIA_SKU,COD_LOJA,UF_CIDADE,COD_CIDADE,NOME_CIDADE,DATA_CUPOM,UNIDADES,IDENTIFICADOR_PROMOCIONAL,PRECO_REGULAR,TOTAL_DESCONTO,TOTAL_BRUTO,TOTAL_LIQUIDO
0,782344,55750557.0,Pessoa Física,F,1980-11-18,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,764,RS,80400,PORTO ALEGRE,2024-04-11 17:13:25,1.0,NaN,47.03,12.70,47.03,34.33
1,759507,55750557.0,Pessoa Física,F,1980-11-18,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,764,RS,80400,PORTO ALEGRE,2024-02-19 15:47:17,1.0,NaN,73.99,14.80,73.99,59.19
2,742082,55750557.0,Pessoa Física,F,1980-11-18,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,764,RS,80400,PORTO ALEGRE,2024-01-05 19:48:52,1.0,NaN,5.99,0.00,5.99,5.99
3,747733,55750557.0,Pessoa Física,F,1980-11-18,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,764,RS,80400,PORTO ALEGRE,2024-01-20 14:41:56,1.0,NaN,1220.52,254.37,1220.52,966.15
4,748216,55750557.0,Pessoa Física,F,1980-11-18,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,764,RS,80400,PORTO ALEGRE,2024-01-22 16:48:36,1.0,100271131.0,41.51,5.52,41.51,35.99

In [3]:
df.rename(
    columns={
        "COD_CUPOM": "cod_cupom",
        "COD_CLIENTE": "client_id",
        "CLIENTE_FISICO_JURIDICO": "client_type",
        "SEXO_CLIENTE": "client_gender",
        "DTNASCIMENTO_CLIENTE": "client_birthdate",
        "COD_SKU": "product_id",
        "SKU": "product_name",
        "CATEGORIA_SKU": "product_category",
        "SUBCATEGORIA_SKU": "product_subcategory",
        "COD_LOJA": "store_id",
        "UF_CIDADE": "city_state",
        "COD_CIDADE": "city_id",
        "NOME_CIDADE": "city_name",
        "DATA_CUPOM": "sale_date",
        "UNIDADES": "units",
        "IDENTIFICADOR_PROMOCIONAL": "promotion_id",
        "PRECO_REGULAR": "regular_price",
        "TOTAL_DESCONTO": "total_discount",
        "TOTAL_BRUTO": "total_gross",
        "TOTAL_LIQUIDO": "total_net",   
    },
    inplace=True
)
df.head()

,cod_cupom,client_id,client_type,client_gender,client_birthdate,product_id,product_name,product_category,product_subcategory,store_id,city_state,city_id,city_name,sale_date,units,promotion_id,regular_price,total_discount,total_gross,total_net
0,782344,55750557.0,Pessoa Física,F,1980-11-18,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,764,RS,80400,PORTO ALEGRE,2024-04-11 17:13:25,1.0,NaN,47.03,12.70,47.03,34.33
1,759507,55750557.0,Pessoa Física,F,1980-11-18,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,764,RS,80400,PORTO ALEGRE,2024-02-19 15:47:17,1.0,NaN,73.99,14.80,73.99,59.19
2,742082,55750557.0,Pessoa Física,F,1980-11-18,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,764,RS,80400,PORTO ALEGRE,2024-01-05 19:48:52,1.0,NaN,5.99,0.00,5.99,5.99
3,747733,55750557.0,Pessoa Física,F,1980-11-18,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,764,RS,80400,PORTO ALEGRE,2024-01-20 14:41:56,1.0,NaN,1220.52,254.37,1220.52,966.15
4,748216,55750557.0,Pessoa Física,F,1980-11-18,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,764,RS,80400,PORTO ALEGRE,2024-01-22 16:48:36,1.0,100271131.0,41.51,5.52,41.51,35.99

In [4]:
print(df.city_state.value_counts(), df.city_id.value_counts(), df.city_name.value_counts())

city_state
RS    9271036
Name: count, dtype: int64 city_id
80400    9271036
Name: count, dtype: int64 city_name
PORTO ALEGRE    9271036
Name: count, dtype: int64

In [5]:
df.head()

,cod_cupom,client_id,client_type,client_gender,client_birthdate,product_id,product_name,product_category,product_subcategory,store_id,city_state,city_id,city_name,sale_date,units,promotion_id,regular_price,total_discount,total_gross,total_net
0,782344,55750557.0,Pessoa Física,F,1980-11-18,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,764,RS,80400,PORTO ALEGRE,2024-04-11 17:13:25,1.0,NaN,47.03,12.70,47.03,34.33
1,759507,55750557.0,Pessoa Física,F,1980-11-18,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,764,RS,80400,PORTO ALEGRE,2024-02-19 15:47:17,1.0,NaN,73.99,14.80,73.99,59.19
2,742082,55750557.0,Pessoa Física,F,1980-11-18,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,764,RS,80400,PORTO ALEGRE,2024-01-05 19:48:52,1.0,NaN,5.99,0.00,5.99,5.99
3,747733,55750557.0,Pessoa Física,F,1980-11-18,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,764,RS,80400,PORTO ALEGRE,2024-01-20 14:41:56,1.0,NaN,1220.52,254.37,1220.52,966.15
4,748216,55750557.0,Pessoa Física,F,1980-11-18,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,764,RS,80400,PORTO ALEGRE,2024-01-22 16:48:36,1.0,100271131.0,41.51,5.52,41.51,35.99

In [6]:
df["sale"] = df[['client_id', 'store_id', 'sale_date']].astype(str).agg('_'.join, axis=1)
df["sale_id"] = df.groupby('sale').ngroup() + 1
df.drop(columns=["sale"], inplace=True)
df.head()

,cod_cupom,client_id,client_type,client_gender,client_birthdate,product_id,product_name,product_category,product_subcategory,store_id,city_state,city_id,city_name,sale_date,units,promotion_id,regular_price,total_discount,total_gross,total_net,sale_id
0,782344,55750557.0,Pessoa Física,F,1980-11-18,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,764,RS,80400,PORTO ALEGRE,2024-04-11 17:13:25,1.0,NaN,47.03,12.70,47.03,34.33,3156939
1,759507,55750557.0,Pessoa Física,F,1980-11-18,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,764,RS,80400,PORTO ALEGRE,2024-02-19 15:47:17,1.0,NaN,73.99,14.80,73.99,59.19,3156888
2,742082,55750557.0,Pessoa Física,F,1980-11-18,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,764,RS,80400,PORTO ALEGRE,2024-01-05 19:48:52,1.0,NaN,5.99,0.00,5.99,5.99,3156834
3,747733,55750557.0,Pessoa Física,F,1980-11-18,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,764,RS,80400,PORTO ALEGRE,2024-01-20 14:41:56,1.0,NaN,1220.52,254.37,1220.52,966.15,3156842
4,748216,55750557.0,Pessoa Física,F,1980-11-18,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,764,RS,80400,PORTO ALEGRE,2024-01-22 16:48:36,1.0,100271131.0,41.51,5.52,41.51,35.99,3156844

In [7]:
products = df[["product_id", "product_name", "product_category", "product_subcategory", "regular_price"]].drop_duplicates()
print(f"Number of unique products: {products.shape[0]}")
products.head()

Number of unique products: 42268

,product_id,product_name,product_category,product_subcategory,regular_price
0,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,47.03
1,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,73.99
2,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,5.99
3,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,1220.52
4,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,41.51

In [8]:
products.drop_duplicates(subset=["product_name", "product_category", "product_subcategory"], keep="first", inplace=True)
products = products[~products["product_category"].isin(["SERVIÇOS", "DIVERSOS", "MANIPULADOS", "IMOBILIZADO"])]

# get subcategories with less than 10 appearances
under_11_subcategories = products["product_subcategory"].value_counts()
under_11_subcategories = under_11_subcategories[under_11_subcategories < 11]
under_11_subcategories = list(under_11_subcategories.to_frame().reset_index().product_subcategory.values)
under_11_subcategories
products = products[~products["product_subcategory"].isin(under_11_subcategories)]

# get products with price between 1 and 9999
products = products[(products["regular_price"] >= 1) & (products["regular_price"] <= 9999)] 

print(f"Number of unique products: {products.shape[0]}")

Number of unique products: 18114

In [9]:
df = df[df.product_id.isin(products.product_id)]
print("Total number of transactions: ", df.shape[0])
print(f"Number of unique products: {df.product_id.nunique()}")
df.head()

Total number of transactions:  8169308
Number of unique products: 18114

,cod_cupom,client_id,client_type,client_gender,client_birthdate,product_id,product_name,product_category,product_subcategory,store_id,city_state,city_id,city_name,sale_date,units,promotion_id,regular_price,total_discount,total_gross,total_net,sale_id
0,782344,55750557.0,Pessoa Física,F,1980-11-18,10085918,VONAU FLASH 4MG 10CP,MEDICAMENTOS,REFERENCIA,764,RS,80400,PORTO ALEGRE,2024-04-11 17:13:25,1.0,NaN,47.03,12.70,47.03,34.33,3156939
1,759507,55750557.0,Pessoa Física,F,1980-11-18,10106687,APTANUTRI PREMIUM 3,NUTRICAO,NUTRICAO LEITES,764,RS,80400,PORTO ALEGRE,2024-02-19 15:47:17,1.0,NaN,73.99,14.80,73.99,59.19,3156888
2,742082,55750557.0,Pessoa Física,F,1980-11-18,10037705,TORRADA ISABELA 142G TRADICIONAL,CONVENIENCIA,CONVENIENCIA PERECIVEIS,764,RS,80400,PORTO ALEGRE,2024-01-05 19:48:52,1.0,NaN,5.99,0.00,5.99,5.99,3156834
3,747733,55750557.0,Pessoa Física,F,1980-11-18,10004419,OZEMPIC 1MG 4AGULHAS NOVOFINE,MEDICAMENTOS,PBM ESPECIAL,764,RS,80400,PORTO ALEGRE,2024-01-20 14:41:56,1.0,NaN,1220.52,254.37,1220.52,966.15,3156842
4,748216,55750557.0,Pessoa Física,F,1980-11-18,10030435,NOVALGINA 1G 20CP OPELLA,MEDICAMENTOS,REFERENCIA ONEROSOS,764,RS,80400,PORTO ALEGRE,2024-01-22 16:48:36,1.0,100271131.0,41.51,5.52,41.51,35.99,3156844

In [10]:
clients = df.groupby(
    ["client_id", "client_type", "client_gender", "client_birthdate"]
)[["total_gross", "total_net", "total_discount"]].agg(
    ["sum", "mean", "max", "min"]
).reset_index()
clients.columns = ["_".join(col).strip() for col in clients.columns.values]
clients = clients.reset_index()
clients.head()

,index,client_id_,client_type_,client_gender_,client_birthdate_,total_gross_sum,total_gross_mean,total_gross_max,total_gross_min,total_net_sum,total_net_mean,total_net_max,total_net_min,total_discount_sum,total_discount_mean,total_discount_max,total_discount_min
0,0,120.0,Pessoa Física,F,1977-06-08,16.99,16.990000,16.99,16.99,16.99,16.990000,16.99,16.99,0.00,0.000000,0.00,0.0
1,1,250.0,Pessoa Física,F,1974-03-29,1353.92,61.541818,261.23,7.99,801.83,36.446818,109.90,5.99,552.09,25.095000,161.34,0.0
2,2,253.0,Pessoa Física,F,1994-06-11,139.17,27.834000,42.63,7.99,113.51,22.702000,36.24,5.49,25.66,5.132000,10.18,0.0
3,3,408.0,Pessoa Física,M,1990-08-10,212.21,35.368333,79.80,15.25,131.28,21.880000,79.79,0.01,80.93,13.488333,39.89,0.0
4,4,460.0,Pessoa Física,M,1968-07-24,39.20,19.600000,33.21,5.99,39.20,19.600000,33.21,5.99,0.00,0.000000,0.00,0.0